body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.root {
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100vh;
}

.ui.category.search .results {
    width: 100% !important;
}

/*
I don't like this
 */
.rdrInputRanges {
    display: none;
}

.sideBarSteps {
    width: 30%;
    margin: 0 auto;
    float: left;
    padding-left: 50px;
    padding-top: 50px;
}

h2 {
    margin: 50px !important;
}

.centralBody {
    width: 35%;
    float: left;
    margin: 0 auto;
    text-align: center;
}

.ant-steps-vertical .ant-steps-item {
    height: 30%
}

.ant-steps-vertical {
    display: block;
    height: 50vh;
}

.ant-collapse-item {
    text-align: left;
}

.ant-collapse-header::after {
    content: "Details";
    float: right;
    padding-right: 50px
}