.ui.input {
    width: 100%
}

.custom-searchbar {
    position: absolute;
    top: 40%;
}

.full-height {
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100vh;
}

.no-suggestions > .results {
    display: none !important;
}

.ant-layout-header {
    background: transparent !important;
}
